
.projects{
    width: 1100px;
    height: 798px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.projects header {
    width: 1100px;
    height: 164px;
    line-height: 82px;
    font-weight: 500;
    font-size: 92px;
    color: #121212;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame {
    width: 1100px;
    height: 450px;
    display: flex;
    gap: 21px;
    flex-direction: row;
}

.frame li{
    width: 353px;
    height: 450px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.frame li header{
    width: 253px;
    height: 57px;
    font-weight: 500;
    font-size: 38px;
}

/* .frame li :last-child{
    width: 253px;
    height: 57px;
    font-weight: 500;
    font-size: 38px;
} */

.techLabel{
    width: 353px;
    height: 32px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
}

.part1 :first-child{
    width: 79px;
    height: 32px;
    border-radius: 32px;
    padding: 8px 16px;
    background-color: #38BDF8;
    color: white;
    border: 0px;
}

.part1 :last-child{
    width: 79px;
    height: 32px;
    border-radius: 32px;
    background-color: #F43F5E;
    color: white;
    border: 0px;
}

.part2 :first-child{
    width: 132px;
    height: 32px;
    border-radius: 32px;
    padding: 8px 16px;
    background-color: #38BDF8;
    color: white;
    border: 0px;
}

.part2 :last-child{
    width: 79px;
    height: 32px;
    border-radius: 32px;
    background-color: #121212;
    color: white;
    border: 0px;
}

.part3 :first-child{
    width: 73px;
    height: 32px;
    border-radius: 32px;
    padding: 8px 16px;
    background-color: #38BDF8;
    color: white;
    border: 0px;
}
.part3 :nth-child(2){
    width: 64px;
    height: 32px;
    border-radius: 32px;
    padding: 8px 16px;
    background-color: #34D399;
    color: white;
    border: 0px;
}

.part3 :nth-child(3){
    width: 50px;
    height: 32px;
    border-radius: 32px;
    padding: 8px 16px;
    background-color: #F59E0B;
    color: white;
    border: 0px;
}


.part3 :last-child{
    width: 81px;
    height: 32px;
    border-radius: 32px;
    background-color: #121212;
    color: white;
    border: 0px;
}

.projectImage{
    width: 353px;
    height: 270px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImagePart1{
    background-color: #E23839;
}

.projectImagePart2{
    background-color: #022516;
}

.projectImagePart3{
    background-color: #ED7854;
}

.projectImage img{
    width: 353px;
    height: 212.68px;
    object-fit: fill;
}

.projectLink{
    display: flex;
    flex-direction: row;
    width: 193px;
    height: 31px;
    gap: 20px;
    padding-left: 14px;
}

.projectLink button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 31px;
    background-color: transparent;
    border: none;
    color: #022516;
    font-size: 16px;
    font-weight: 500;
    gap: 4px;
    cursor: pointer;
}